.toast{
    width: 300px;
    height: 60px;
    background: #fff;
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-radius: 5px;
    padding: 2px;
    font-family:Verdana,Tahoma, sans-serif;
}


#process-img {
    width: 100px;
    height: 100px;
    animation: rotateAnimation 5s linear infinite; /* 5s para un ciclo completo, linear para un giro suave, infinite para que continúe girando indefinidamente */
}


@keyframes rotateAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}


.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background:red;
    animation: anim 5s linear forwards;
}


.toast #icono{
    position: relative;
    min-width: 20%;
}

.toast #texto{
    position: relative;
    min-width: 80%;
}



.toast i{
    margin: 0 20px;
    font-size: 20px;
    color: red;
}

.toast.orange i {
    color:orange;
}
.toast.orange::after{
    background:orange;
}

.toast.yellow i {
    color:yellow;
}

.toast.yellow::after{
    background:yellow;
}

.toast.blue::after{
    background: #34495E;
}

.toast.blue i {
    color:#34495E;
}

.toast.salmon i{
    color: #FA8072;
}

.toast.salmon::after{
    background: #FA8072;
}

#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}


.input-color {
    border-color: #ccc;
}

@keyframes anim {
    100%{
        width: 0;
    }
}

#cancelar:hover{
    border-color: blue;
    color: blue;
}

